<!-- Full Code Replace || Design Complete -->

@model FindLostThings.Models.Product

@{
    ViewBag.Title = "Details";
}


<div class="card ">

    <div class="card-header">
        <h2>Product Details</h2>
    </div>

    <div class="card-body">

        <div class="row">

            <div class="col-md-2 text-center">


                <!-- void -->


            </div>



            <div class="col-md-8 text-center">

                <!-- user info-->

                <div class="card-body">
                    <table class="table">

                        <tr>
                            <th class="bg-primary">@Html.DisplayNameFor(model => Model.itemType)</th>
                            <td>@Html.DisplayFor(modelItem => Model.itemType)</td>
                        </tr>
                        <tr>
                            <th class="bg-primary">@Html.DisplayNameFor(model => Model.postalCode)</th>
                            <td>@Html.DisplayFor(modelItem => Model.postalCode)</td>
                        </tr>

                 

                        <tr>
                            <th class="bg-primary">@Html.DisplayNameFor(model => Model.productName)</th>
                            <td>@Html.DisplayFor(modelItem => Model.productName)</td>
                        </tr>
                        <tr>
                            <th class="bg-primary">@Html.DisplayNameFor(model => Model.manufacturer)</th>
                            <td>@Html.DisplayFor(modelItem => Model.manufacturer)</td>
                        </tr>
                        <tr>
                            <th class="bg-primary">@Html.DisplayNameFor(model => Model.model)</th>
                            <td>@Html.DisplayFor(modelItem => Model.model)</td>
                        </tr>
                        <tr>
                            <th class="bg-primary">@Html.DisplayNameFor(model => Model.color)</th>
                            <td>@Html.DisplayFor(modelItem => Model.color)</td>
                        </tr>

           

                        <tr>
                            <th class="bg-primary">@Html.DisplayNameFor(model => Model.date)</th>
                            <td>@Html.DisplayFor(modelItem => Model.date)</td>
                        </tr>
                        <tr>
                            <th class="bg-primary">@Html.DisplayNameFor(model => Model.description)</th>
                            <td>@Html.DisplayFor(modelItem => Model.description)</td>
                        </tr>
                    </table>
                </div>


            </div>



            <div class="col-md-2 text-center">


                <!-- void -->


            </div>

        </div>
    </div>
</div>



<!-- lower button-->

<div class="container">

    <p class="p-2"></p>

    <table class="table">

      @** <tr>
            @Html.ActionLink("Edit", "Edit", new { id = Model.productId })
        </tr>

        <span class="m-3"></span>*@

        <tr>
            @Html.ActionLink("Back", "Index")

        </tr>

    </table>

</div>
