<!-- Full Code Replace || Design Complete || Profile Page -->
<!-- INCLUDE FONT AWSOME SCRIPT  in _layout section-->
<!--
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
-->


@model FindLostThings.Models.Account

@{
    ViewBag.Title = "Profile";
}




<h2>@User.Identity.Name's Profile</h2>



<br />


<hr class="dotted border-top: 8px dotted #bbb bg-warning">

<p class="p-2"></p>
<div class="row">


    <div class="col-6 sm-12">
        <h3 class="card-header bg-primary">@Html.DisplayNameFor(model => model.userName)</h3>
        <div class="card-body">
            <h4 class="card-title">@Html.DisplayFor(model => model.userName)</h4>

        </div>
        <hr class="my-2">
        <h3 class="card-header bg-primary">@Html.DisplayNameFor(model => model.phoneNumber)</h3>
        <div class="card-body">
            <h4 class="card-title">@Html.DisplayFor(model => model.phoneNumber)</h4>

        </div>

        <div class="card-footer text-info">
            <i class="fab fa-facebook-f m-2"> </i>
            <i class="fab fa-twitter p-2"> </i>

        </div>

    </div>


    <!--image DIV-->

    <div class="col-6 sm-12">

        <img style="height: 400px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">

    </div>


</div>

<div class="container">
    <p class="p-2"></p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.userId }) |   @Html.ActionLink("Back", "Welcome")
</div>
