<!-- Full Code Replace || Design Complete -->

@model FindLostThings.Models.Account
@{
    ViewBag.Title = "Welcome";
}

<!-- vertical margin -->
<hr class="my-5">

<div class="jumbotron">

    <h1 class="display-3">Hello! - @User.Identity.Name</h1>

    <p class="lead">You are always welcome here to find what you have lost and claim what you have found.</p>
    <hr class="my-4">

    <div class="list-group">

        <p class="list-group-item list-group-item-action active bg-active" style="text-align:center; font-size:100%;"> @Html.ActionLink("View Profile", "Index", "Account",new { id = Model.userId }, null) </p>
        <p class="list-group-item list-group-item-action active bg-active" style="text-align:center; font-size:100%;"> @Html.ActionLink("Report Lost Item", "Create", "Product", new { id = 1 }, null)  </p>
        <p class="list-group-item list-group-item-action active bg-active" style="text-align:center; font-size:100%;"> @Html.ActionLink("Report Found Item", "Create", "Product", new { id = 2 }, null)</p>
        <p class="list-group-item list-group-item-action active bg-active" style="text-align:center; font-size:100%;"> @Html.ActionLink("Show My History", "Index", "Product") </p>

        <!-- vertical padding -->
        <p class="p-2"></p>

        <!-- progress bar -->
        <div class="progress">
            <div class="progress-bar bg-active" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

    </div>
</div>