<!-- Full Code Replace || Re-designed -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Find Lost Things</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Find Lost Things", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav mr-auto">
                 @*   <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })</li>*@
                    <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {

                        <li class="nav-item">@Html.ActionLink(@User.Identity.Name, "Welcome", "Account")</li>
                        //   <li class="nav-item"><a>@User.Identity.Name</a></li>
                        <span class="m-2"></span>
                        <li class="nav-item">@Html.ActionLink("Log out", "Logout", "Account")</li>
                    }
                    else
                    {
                        <li class="nav-item">@Html.ActionLink("Log in", "Login", "Account", null, new { @class = "nav-link" })</li>

                        <li class="nav-item">@Html.ActionLink("Register", "Signup", "Account", null, new { @class = "nav-link" })</li>
                    }
                </ul>

            </div>


        </div>
    </nav>

    @*upper margin*@
    <div class="container">
        <p class="p-3"></p>
    </div>


    <div class="container body-content">
        @RenderBody()

        <hr />

        <!-- footer added-->
        <footer>

            <span class="" style="font-size : 20px">
                &copy; @DateTime.Now.Year - <i class="fab fa-facebook-f  m-2"> </i>
                <i class="fab fa-twitter  m-2"> </i>
                <i class="fab fa-instagram  m-2"></i>
                <i class="fab fa-reddit-alien  m-2"></i>
                <i class="fab fa-telegram-plane  m-2"></i>
                <i class="fab fa-discord m-2"></i>

            </span>

        </footer>
        <br />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

